@CHARSET "UTF-8";

body {
    font-family: Raleway;
}

.panel_presentation {
	position: absolute;
    top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	display: flex;
    flex-direction: row;
    color: #383f4f;
}

.panel_image {
	width: auto;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.image_presentation {
	position: relative;
    width: auto;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: transparent;
}

.panel_case {
    width: auto;
	height: auto;
    top: 0px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.case_title {
	position: relative;
	float: top;
	width: 100%;
	height: auto;
	padding: 30px;
	font-size: 24pt;
}

.case_text {
	font-size: 18pt;
	padding: 30px;
}

/* case link */
/* --------- */

.case_link {
	color: #e0e9ce;
	text-align: center;
	width: 300px;
	height: 30px;
	margin-left: auto;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #383f4f;
    font-size: 16pt;
}

.case_link a:link {
	color: #e0e9ce;
    text-decoration: none;
}

.case_link a:visited {
	color: #e0e9ce;
    text-decoration: none;
}

.case_link a:hover {
	color: #e0e9ce;
    text-decoration: none;
}