# jupyter/jupyterlab plugins/extensions
jupyterlab
jupyter_contrib_nbextensions
jupyterlab_launcher
jupyterlab-git
#ipywidgets

# beakerx (kernels: java, clojure, groovy, scala, kotlin, sql) and dependencies
#beakerx

# <error>
# jupyter-server-proxy

# data structures and data analysis
#pandas
#numpy

# data viz

#matplotlib
#plotly

#chart-studio
#seaborn
